.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form {
  background-color: #ffffff;
  font-family: sans-serif;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputField {
  --padding: 14px;

  font-family: "Jua", sans-serif;
  padding: var(--padding);
  border-radius: 28px;
  display: flex;
  align-items: center;
  width: max-content;
  background-color: #e8e8e8;
  border-width: 0;
  margin-bottom: 5px;
}

.input [input="email"],
.input [input="password"] {
  outline: none;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: "Jua", sans-serif;
  color: #333333;
  margin: 14px;
}

.pill-input {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #4caf50;
  color: #333;
}

.pill-input:focus {
  border-color: #333;
  box-shadow: 0 0 5px #333;
}

.pill-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8f9fa inset;
  -webkit-text-fill-color: #333;
}

.pill {
  font-size: 16px;
  font-family: "Readex Pro", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #573e1a;
  cursor: pointer;
}
.pill:hover {
  background: #dcdbc6;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.remember-me label {
  margin-right: 10px;
}
