.pageContainer {
  display: flex;
  gap: 1rem;
}

.pageContainer > div {
  width: 50%;
}

.imageViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #DCDBC6;
}

.editLabelCont {
  display: flex;
  justify-content: space-between;
}